
@{
    ViewData["Title"] = "List";
}

<h2>Product List</h2>

<p>
    @Html.ActionLink("Add New", "Create", "Product")
</p>
<table class="table table-bordered">
    <tr>
        <th>PId</th>
        <th>Pname</th>
        <th>Pprice</th>
        <th>Pdescription </th>
        <th>Action</th>
    </tr>
    @foreach(Product prod in ViewBag.ProductList)
    {
        <tr>
            <td>@prod.PId</td>
            <td>@prod.Pname</td>
            <td>@prod.Pprice</td>
             <td>@prod.Pdescription</td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { @PId = prod.PId }) |
                @Html.ActionLink("Delete", "Delete", new { @PId = prod.PId })
            </td>
        </tr>
    }
</table>

